@media (max-width: 980px) {
  .main-component {
    width: 700px;
    height: 250px;
  }

  .main-component .image-side img {
    height: 250px;
    width: 250px;
  }

  .main-component .info-side {
    padding: 15px 26px;
  }

  .main-component .info-side .info h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .main-component .info-side .info p {
    font-size: 1.2rem;
  }

  .main-component .info-side .share {
    position: absolute;
    top: 48%;
    right: -10%;

    width: 230px;
    height: 45px;

    font-size: 2.3rem;

    z-index: 2;
  }

  .main-component .info-side .share::before {
    right: 27%;
  }

  .main-component .info-side .share .share-text {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .main-component {
    width: 350px;
    height: 550px;
    flex-direction: column;
    margin: 20px;
  }

  .main-component .image-side img {
    height: 250px;
    width: 350px;
  }

  .main-component .info-side {
    padding: 30px;
    line-height: 20px;
  }

  .main-component .info h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  .main-component .info p {
    font-size: 1.3rem;
    margin-bottom: 50px;
    text-align: unset;
  }

  .main-component .info-side .share {
    position: relative;
    top: -66px;
    right: 30px;
    width: 350px;
    height: 82px;
    font-size: 2.3rem;
    z-index: 2;
    justify-content: flex-start;
    padding: 30px;
    border-radius: 0 0 10px 10px;
  }

  .main-component .info-side .share::before {
    display: none;
  }

  .main-component .info-side .share .share-text {
    font-size: 1.5rem;
  }

  .main-component .info-side .bottom .share-btn {
    z-index: 3;
    width: 30px;
    height: 30px;
  }

  .main-component .info-side .bottom .share-btn-active {
    background-color: hsl(220, 16%, 56%);
  }
}
